<%- include('include/_header') %>
    <div id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add-user" class="btn btn-info m-3">Add User</a>
            </div>

            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>1</td>
                            <td>Mazhar</td>
                            <td>maxhar30@gmail.com</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                <a href="#" class="btn btn-info">Edit</a>
                                <a class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
            </form>

        </div>
    </div>

    <%- include('include/_footer') %>